<html>
  <body>
    <h1>Invoice Notification</h1>
    <p>Hi {{name}},</p>
    <p>Your invoice for {{month}} is ready. Click the link below to view it:</p>
    <a href="{{link}}">View Invoice</a>
  </body>
</html>